.cont {
  width: 1920px;
  margin: auto;
  position: relative; }

.rtop {
  z-index: 999;
  top: 33px;
  right: 37px;
  position: absolute;
  display: flex;
  color: #fff; }

.rtopitem {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin-right: 35px; }
  .rtopitem.rd {
    width: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    height: 40px;
    text-align: center;
    line-height: 40px; }

.top {
  width: 100%;
  background: url(../img/6.png) no-repeat;
  background-size: 100% 125%;
  height: 1100px;
  background-position-y: -256px;
  position: relative; }
  .top .logo {
    position: absolute;
    width: 234px;
    height: 244px;
    left: 25px;
    margin-top: -60px; }
    .top .logo img {
      width: 100%;
      height: 100%; }
  .top .nav {
    position: absolute;
    display: flex;
    margin-top: 108px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center; }
    .top .nav .item {
      height: 45px;
      line-height: 45px;
      padding: 0 40px;
      color: #fff;
      font-size: 18px; }
      .top .nav .item.active {
        border-radius: 30px;
        border: 1px solid #fff; }
  .top .btitle {
    position: absolute;
    margin-top: 443px;
    font-size: 107px;
    line-height: 150px;
    color: #fff;
    text-align: center;
    width: 100%; }
    .top .btitle .snbtitle {
      color: #fff;
      text-align: center;
      width: 100%;
      font-size: 24px;
      line-height: 24px; }
      .top .btitle .snbtitle span {
        opacity: 0.5; }
      .top .btitle .snbtitle .r {
        padding-left: 130px; }
      .top .btitle .snbtitle .act {
        padding: 0;
        opacity: 1;
        color: #fff;
        transform: translateY(15px);
        position: absolute;
        padding-left: 20px; }

.lin1 {
  display: flex;
  padding-top: 82px;
  justify-content: center;
  padding-bottom: 90px;
  border-bottom: 2px solid #000; }
  .lin1 > div {
    margin-right: 60px; }
  .lin1 .mat .title {
    font-size: 15px;
    line-height: 29px;
    font-weight: bold; }
  .lin1 .mat .item {
    font-size: 15px;
    margin-top: 20px; }
    .lin1 .mat .item .li {
      padding: 5px 20px;
      border: 1px solid #707070;
      border-radius: 30px;
      margin-right: 14px; }
  .lin1 .color .title {
    font-size: 15px;
    line-height: 29px;
    font-weight: bold; }
  .lin1 .color .item {
    font-size: 15px;
    margin-top: 1px;
    display: flex; }
    .lin1 .color .item .li {
      margin-right: 14px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #BAA283; }
  .lin1 .sort .title {
    font-size: 15px;
    line-height: 29px;
    font-weight: bold; }
  .lin1 .sort .item {
    display: flex;
    font-size: 15px;
    margin-top: 5px;
    padding: 8px 30px;
    border-radius: 30px;
    border: 1px solid #707070; }
    .lin1 .sort .item .p {
      margin-right: 20px; }
  .lin1 .stoc .title {
    font-size: 15px;
    line-height: 29px;
    font-weight: bold; }
  .lin1 .stoc .item {
    font-size: 15px;
    margin-top: 4px;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: #000000;
    color: #fff; }

.lin2 {
  padding-top: 31px;
  padding-bottom: 186px;
  border-bottom: 2px solid #000;
  text-align: center; }
  .lin2 .item1 {
    justify-content: center;
    display: flex; }
    .lin2 .item1 .p1 {
      overflow: hidden;
      display: inline-block; }
      .lin2 .item1 .p1 .img {
        width: 1019px;
        height: 565px;
        overflow: hidden;
        margin-bottom: 30px; }
      .lin2 .item1 .p1 .title {
        font-size: 20px; }
        .lin2 .item1 .p1 .title > div {
          margin-bottom: 10px; }
        .lin2 .item1 .p1 .title .color .c1 .c11 {
          background: #C8BAA0;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item1 .p1 .title .color .c1.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
        .lin2 .item1 .p1 .title .color .c2 .c22 {
          background: #895A2C;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item1 .p1 .title .color .c2.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
    .lin2 .item1 .p2 {
      margin-left: 30px;
      overflow: hidden;
      display: inline-block; }
      .lin2 .item1 .p2 .img {
        width: 682px;
        height: 565px;
        margin-bottom: 30px;
        overflow: hidden; }
      .lin2 .item1 .p2 .title {
        font-size: 20px; }
        .lin2 .item1 .p2 .title > div {
          margin-bottom: 10px; }
        .lin2 .item1 .p2 .title .color .c1 .c11 {
          background: #C8BAA0;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item1 .p2 .title .color .c1.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
        .lin2 .item1 .p2 .title .color .c2 .c22 {
          background: #895A2C;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item1 .p2 .title .color .c2.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
  .lin2 .item2 {
    margin-top: 45px;
    display: flex;
    justify-content: center; }
    .lin2 .item2 .p1 {
      overflow: hidden;
      display: inline-block; }
      .lin2 .item2 .p1 .img {
        width: 672px;
        height: 572px;
        overflow: hidden;
        margin-bottom: 30px; }
      .lin2 .item2 .p1 .title {
        font-size: 20px; }
        .lin2 .item2 .p1 .title > div {
          margin-bottom: 10px; }
        .lin2 .item2 .p1 .title .color .c1 .c11 {
          background: #C8BAA0;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item2 .p1 .title .color .c1.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
        .lin2 .item2 .p1 .title .color .c2 .c22 {
          background: #895A2C;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item2 .p1 .title .color .c2.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
    .lin2 .item2 .p2 {
      margin-left: 30px;
      overflow: hidden;
      display: inline-block; }
      .lin2 .item2 .p2 .img {
        width: 983px;
        height: 572px;
        margin-bottom: 30px;
        overflow: hidden; }
      .lin2 .item2 .p2 .title {
        font-size: 20px; }
        .lin2 .item2 .p2 .title > div {
          margin-bottom: 10px; }
        .lin2 .item2 .p2 .title .color .c1 .c11 {
          background: #C8BAA0;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item2 .p2 .title .color .c1.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
        .lin2 .item2 .p2 .title .color .c2 .c22 {
          background: #895A2C;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item2 .p2 .title .color .c2.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
  .lin2 .item3 {
    margin-top: 45px;
    display: flex;
    justify-content: center; }
    .lin2 .item3 .p1 {
      overflow: hidden;
      display: inline-block; }
      .lin2 .item3 .p1 .img {
        width: 874px;
        height: 762px;
        overflow: hidden;
        margin-bottom: 30px;
        position: relative; }
        .lin2 .item3 .p1 .img .tocar {
          font-size: 29px;
          line-height: 104px;
          background: #0003;
          color: #fff;
          position: absolute;
          bottom: 0;
          width: 100%; }
      .lin2 .item3 .p1 .title {
        font-size: 20px; }
        .lin2 .item3 .p1 .title > div {
          margin-bottom: 10px; }
        .lin2 .item3 .p1 .title .color .c1 .c11 {
          background: #C8BAA0;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item3 .p1 .title .color .c1.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
        .lin2 .item3 .p1 .title .color .c2 .c22 {
          background: #895A2C;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item3 .p1 .title .color .c2.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
    .lin2 .item3 .p2 {
      margin-left: 40px;
      overflow: hidden;
      display: inline-block; }
      .lin2 .item3 .p2 .img {
        margin-top: 30px;
        width: 779px;
        height: 701px;
        margin-bottom: 30px;
        overflow: hidden; }
      .lin2 .item3 .p2 .title {
        font-size: 20px; }
        .lin2 .item3 .p2 .title > div {
          margin-bottom: 10px; }
        .lin2 .item3 .p2 .title .color .c1 .c11 {
          background: #C8BAA0;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item3 .p2 .title .color .c1.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
        .lin2 .item3 .p2 .title .color .c2 .c22 {
          background: #895A2C;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item3 .p2 .title .color .c2.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
  .lin2 .item4 {
    margin-top: 45px;
    display: flex;
    justify-content: center; }
    .lin2 .item4 .p1 {
      overflow: hidden;
      display: inline-block; }
      .lin2 .item4 .p1 .img {
        width: 940px;
        height: 664px;
        overflow: hidden;
        margin-bottom: 30px; }
        .lin2 .item4 .p1 .img img {
          width: 100%;
          height: 100%; }
      .lin2 .item4 .p1 .title {
        font-size: 20px; }
        .lin2 .item4 .p1 .title > div {
          margin-bottom: 10px; }
        .lin2 .item4 .p1 .title .color .c1 .c11 {
          background: #C8BAA0;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item4 .p1 .title .color .c1.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
        .lin2 .item4 .p1 .title .color .c2 .c22 {
          background: #895A2C;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item4 .p1 .title .color .c2.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
    .lin2 .item4 .p2 {
      margin-left: 40px;
      overflow: hidden;
      display: inline-block; }
      .lin2 .item4 .p2 .img {
        margin-top: 30px;
        width: 682px;
        height: 823px;
        margin-bottom: 30px;
        overflow: hidden; }
        .lin2 .item4 .p2 .img img {
          width: 100%;
          height: 100%; }
      .lin2 .item4 .p2 .title {
        font-size: 20px; }
        .lin2 .item4 .p2 .title > div {
          margin-bottom: 10px; }
        .lin2 .item4 .p2 .title .color .c1 .c11 {
          background: #C8BAA0;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item4 .p2 .title .color .c1.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }
        .lin2 .item4 .p2 .title .color .c2 .c22 {
          background: #895A2C;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 2px solid #fff; }
        .lin2 .item4 .p2 .title .color .c2.active {
          border: 2px solid #707070;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: inline-block; }

.lin3 {
  overflow: hidden;
  min-height: 1350px;
  position: relative; }
  .lin3 .til {
    font-size: 60px;
    position: absolute;
    left: 125px;
    top: 151px; }
  .lin3 .left {
    position: absolute;
    margin-top: 342px;
    overflow: hidden; }
    .lin3 .left .img {
      width: 587px;
      height: 833px;
      overflow: hidden;
      margin-left: -35px; }
      .lin3 .left .img img {
        width: 100%;
        height: 100%; }
    .lin3 .left .txt {
      margin-top: 33px;
      font-size: 15px;
      text-align: center; }
  .lin3 .cen {
    position: absolute;
    z-index: 10;
    margin-top: 233px;
    overflow: hidden;
    margin-left: 538px; }
    .lin3 .cen .img {
      width: 924px;
      height: 1051px;
      overflow: hidden; }
      .lin3 .cen .img img {
        width: 100%;
        height: 100%; }
    .lin3 .cen .txt {
      margin-top: 20px;
      font-size: 15px;
      text-align: right;
      padding-right: 100px; }
  .lin3 .right {
    position: absolute;
    margin-top: 352px;
    overflow: hidden;
    right: -90px; }
    .lin3 .right .img {
      width: 587px;
      height: 833px;
      overflow: hidden; }
      .lin3 .right .img img {
        width: 100%;
        height: 100%; }
    .lin3 .right .txt {
      margin-right: 90px;
      margin-top: 33px;
      font-size: 15px;
      text-align: right; }

.footer {
  border-top: 2px solid #000;
  width: 100%; }
  .footer .ft1 {
    padding: 115px;
    display: flex; }
    .footer .ft1 .item {
      width: 50%;
      color: #707070;
      font-size: 20px; }
      .footer .ft1 .item .li {
        line-height: 30px; }
    .footer .ft1 .bitem {
      width: 60%;
      font-size: 20px;
      text-align: center; }
      .footer .ft1 .bitem .email {
        margin: 20px 80px;
        border: 1px solid #707070;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px; }
        .footer .ft1 .bitem .email .txt {
          color: #797979; }

/*# sourceMappingURL=3.css.map */
